<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>Education is the most powerful weapon which you can use to change the world ~ Nelson Mandela. Mindmeditate is a learning experience organization that publishes ideas and teachings by the best teachers in personal growth, health and fitness, spirituality, productivity, mindfulness and more – serving millions of students, members and followers worldwide. </p>
        <p>Through our digital education platforms, online academies, mobile apps, content platforms and live events, we give you access to transformational knowledge that empowers you to expand your boundaries, unleash your potential and lead an extraordinary life – on your terms.  </p>
		<p>We are ambitiously determined to push humanity forward by empowering our audience to live healthier and happier lives, to unleash their fullest potential – to be extraordinary. How? Nelson Mandela affirmed it: with the most powerful tool of all – education. We wanted want to change education globally and provide innovative, holistic education for all levels – from infant learning and highschool models to all stages of adulthood.</p>

    </div>
