<div class="jumbotron">
    <div class="container">
        <h1>Sign Up for Membership</h1>
        <p>Please select for the membership Option as below </p>
        <ul> 
        	<li> free membership </li>
        	<li> full membership </li>

    </div>
</div>