<div class="jumbotron">
    <div class="container">
        <h1>Our Team</h1>
        <p>Mindmeditate runs a unique team of 20 extraordinary players and bright minds from almost every different part of nations, all of whom celebrate and contribute to our company culture, and collectively work towards a mutual goal and purpose. We stand for ideas, companies and products that push humanity forward and unleash the extraordinary in everyone, with the adamant belief that we can and will impact the world.</p>
    </div>
</div>